.snake-game {
    text-align: center;
    margin: 0;
}

.snake-game body { 
    text-align: center; 
}

.snake-game canvas {
    border: 5px solid #4A4747
}

.snake-game h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    text-decoration: underline;
    font-family: Consolas;
    color: #0520A5;
}